<div class="min-w-screen min-h-screen items-center justify-center px-5 py-5 bg-gray-200">
    <div class="w-11/12 bg-gray-50 shadow-md mx-auto text-center py-4 mt-2 rounded-xl pt-4">

        <h1 class="text-blue-700 text-center py-4 -mt-3 text-3xl">
            Edit Card
        </h1>

        <div class="container py-5 max-w-4xl mx-auto text-left">
            <form [formGroup]="editCardForm" (ngSubmit)="updateCard(card.paymentDetailId)">
                
                <label for="cardOwnerName" class="label-text mb-3">Card Owner Name</label>
                <input
                type="text"
                placeholder="type your name"
                formControlName="cardOwnerName"
                class="shadow appearance-none rounded w-full py-2 px-3 mb-3 text-gray-700 leading-tight input input-accent input-bordered"
              />

              <label class="label" *ngIf="cardOwnerName?.invalid">
                <span class="label-text-alt" style="color: red;"
                *ngIf="cardOwnerName && cardOwnerName.touched"
            >cardOwnerName is required</span>
    
                <span *ngIf="cardOwnerName?.errors?.minlength" style="color: red;" class="label-text-alt">
                    minimal char {{cardOwnerName?.errors?.minlength?.requiredLength}}
                </span>

                <span *ngIf="cardOwnerName?.errors?.patter" style="color: red;" class="label-text-alt">
                    minimal char {{cardOwnerName?.errors?.minlength?.requiredPattern}}
                </span>
            </label>

            <label for="cardNumber" class="label-text mb-3">Card Number</label>
                <input
                type="text"
                placeholder="16 digit card number"
                formControlName="cardNumber"
                class="shadow appearance-none rounded w-full py-2 px-3 mb-3 text-gray-700 leading-tight input input-accent input-bordered"
              />

              <label class="label" *ngIf="cardNumber?.invalid">
                <span class="label-text-alt" style="color: red;"
                *ngIf="cardNumber && cardNumber.touched"
            >cardNumber is required</span>
    
                <span *ngIf="cardNumber?.errors?.minlength" style="color: red;" class="label-text-alt">
                    minimal char {{cardNumber?.errors?.minlength?.requiredLength}}
                </span>

            </label>

            <label for="securityCode" class="label-text mb-3">Security Code</label>
                <input
                type="password"
                placeholder="your security code"
                formControlName="securityCode"
                class="shadow appearance-none rounded w-full py-2 px-3 mb-3 text-gray-700 leading-tight input input-accent input-bordered"
                [readOnly]="securityCode"
              />

              <label class="label" *ngIf="securityCode?.invalid">
                <span class="label-text-alt" style="color: red;"
                *ngIf="securityCode && securityCode.touched"
            >securityCode is required</span>
    
                <span *ngIf="securityCode?.errors?.minlength" style="color: red;" class="label-text-alt">
                    minimal char {{securityCode?.errors?.minlength?.requiredLength}}
                </span>

            </label>

            <label for="expirationDate" class="label-text mb-3">Valid Through</label>
                <input
                type="date"
                formControlName="expirationDate"
                class="shadow appearance-none rounded w-full py-2 px-3 mb-3 text-gray-700 leading-tight input input-accent input-bordered"
              />

              <label class="label" *ngIf="expirationDate?.invalid">
                <span class="label-text-alt" style="color: red;"
                *ngIf="expirationDate && expirationDate.touched"
            >expirationDate is required</span>
            </label>

              <div class="flex items-center">
                <button
                  class=" bg-blue-600 hover:bg-blue-800 text-white font-bold py-2 px-4 mt-4 mx-2 rounded focus:outline-none focus:shadow-outline"
                  type="submit"
                >
                  Submit
                </button>

                <button
                  class=" bg-red-600 hover:bg-red-800 text-white font-bold py-2 px-4 mt-4 mx-2 rounded focus:outline-none focus:shadow-outline"
                  [routerLink]="['/home']"
                >
                  Cancel
                </button>
              </div>
            </form>
        </div>
    </div>
</div>