<div class="min-w-screen min-h-screen flex items-center justify-center px-5 py-5 bg-gray-200">
    <div class="content text-3xl text-center w-full md:w-1/2 py-10 px-5 md:px-10">
      <h1 class="text-5xl text-blue-500 font-bold">Angular</h1>
      <p>Final project angular</p>
    </div>
    <div class="container mx-auto flex flex-col items-center">

      <form 
      class="shadow-lg w-80 p-4 flex flex-col bg-white rounded-lg" 
      [formGroup]="signinForm" (ngSubmit)="signin()"
      >
      <label for="email" class="label-text mb-3">Email</label>
        <input 
        type="email" 
        placeholder="Email" 
        class="mb-3 py-3 px-4 input input-info input-bordered" 
        formControlName="email"
        />

        <label class="label" *ngIf="email?.invalid">
            <span class="label-text-alt" style="color: red;"
                *ngIf="email?.errors?.email"
            >please enter a valid email</span>
            <span class="label-text-alt" style="color: red;"
            *ngIf="email && email.touched"
        >email can't be empty</span>

        </label>
        
        <label for="password" class="label-text mb-3">Password</label>
        <input 
        type="password" 
        placeholder="Pasword" 
        class="mb-3 py-3 px-4 input input-info input-bordered" 
        formControlName="password"
        />
        <label class="label" *ngIf="password?.invalid">
            <span class="label-text-alt" style="color: red;"
            *ngIf="password && password.touched"
        >password is required</span>

        <span *ngIf="password?.errors?.minlength" style="color: red;" class="label-text-alt">
            minimal char {{password?.errors?.minlength?.requiredLength}}
        </span>
        </label>


        <button class="w-full bg-blue-500 text-white p-3 rounded-lg font-semibold text-lg">Signin</button>
        
        <!-- <hr /> -->

        <button class="w-full bg-green-400 mt-8 mb-4 text-white p-3 rounded-lg font-semibold text-lg" [routerLink]="['/signup']">Create New Account</button>
      </form>
    </div>
  </div>
